
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'sans-serif';
}
body, html{
    background: rgb(205,133,63);
}
fieldset{
    margin: auto;
    display: flex;
    background-color: rgb(131, 69, 27);
    justify-content: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    & legend{
        width: 100%;
        background-color:rgb(105, 45, 4);;
        height: 10vh;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        line-height: 10vh;
        font-family: "Noto Sans KR";
    }
    .formulario{
        background-color: wheat;
        width: 40vw;
        border-radius: 1rem;
        }
        .datos{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            width: 100%;
            height: fit-content;
            color: white;
            padding: 2.5em;
            display: grid;
            grid-gap:0vh;
            justify-items: center;
            & input{
                align-self: center;
                height: 2.5rem;
                width: 100%;
                padding-left: 0.5vw;
                border-radius: 0.5rem;
                border: none;
                box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.3);
            }
        }
        & label{
            width: 15vw;
            display: inline-block;
            padding: 0.8rem 0.8rem 0.8rem 0;
            color: #000;
            font-weight: 500;
            font-size: 1rem;
            font-family:"Noto Sans KR";
        }
        & input{
            height: 2.5vh;
            width: 25%;
            padding-left: 0.5vw;
            border-radius: 0.5rem;
            border: none;
            box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.3);
        }
        & input[type=submit]{
            border-radius: 0.25rem;
            border: none;
            cursor: pointer;
        }
    }
& input[type=submit]:hover{
    transition: ease-in;
    transition-delay: 0.085s;
    background-color: #cd853f;
}
a{
    text-decoration: none;
}
.registrarse{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2.5vh;
    width: 25%;
    padding-left: 0.5vw;
    margin-bottom: 2.5vh;
    border-radius: 0.25rem;
    border: none;
    background-color: white;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.3);
    .tituloregistrarse{
        text-decoration: none;
        color: #000;
        align-items: center;
        justify-content: center;
    }
}