body {
  font-family: 'Trebuchet MS', 'sans-serif';
  background-color:rgb(105, 45, 4);
}
h2{
  color: white;
}
form {
  max-width: 400px;
  margin: 0 auto;
}
input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #100303;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #070b07;
  color: rgb(245, 8, 8);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #ea7d2e;
}
body {
  font-family: 'Trebuchet MS', 'sans-serif';
  background-color:rgb(105, 45, 4);
}
form {
 max-width: 400px;
 margin: 0 auto;
}
input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #100303;
  border-radius: 4px;
  box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #070b07;
    color: rgb(245, 8, 8);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #ea7d2e;
  }